@model Proyecto_1._0.Models.Instituciones

@{
    ViewBag.Title = "Detalles";
}

<h2>Details</h2>

<div>
    <h4>Instituciones</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Nombre Institución")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_institucion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id_institucion }) |
    @Html.ActionLink("Back to List", "Index")
</p>
