@model System.Data.DataTable 
@using System.Data;
@{
    ViewBag.Title = "Mostrar";
}

<h2>Mostrar</h2>
@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <table>
            <tbody>
                @foreach (DataRow row in Model.Rows)
                {
                    <tr>
                        @foreach (DataColumn col in Model.Columns)
                        {
                            <td>@row[col.ColumnName]</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
}