@model System.Data.DataTable 
@using System.Data;
@{
    ViewBag.Title = "Mostrar";
}

<h2>Mostrar</h2>
@Html.Label("Para realizar el trámite solicitado se necesitará de los siguientes datos como requisito:", htmlAttributes: new { @class = "control-label col-md-2" })

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <table>
            <tbody>
                @foreach (System.Data.DataRow row in Model.Rows)
                {
                    <tr>
                        @foreach (System.Data.DataColumn col in Model.Columns)
                        {
                            <td>@row[col.ColumnName]</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<input type="checkbox" name="option" value="Se ha obtenido el consentimiento por parte del ciudadano, por lo que se puede continuar con el trámite."> Milk<br>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>